@model HrApp.Models.Job
@{
    ViewBag.Title = "Edit person job";
}
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            @using (Html.BeginForm())
            {
                @Html.ValidationSummary(true)
                <fieldset>
                    <legend>Edit person job</legend>
                    <div class="form-group">
                        @Html.LabelFor(model => model.JobName)
                        @Html.TextBoxFor(model => model.JobName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.JobName)
                    </div>
                    @Html.HiddenFor(model => model.PersonId)
                    @Html.HiddenFor(model => model.JobId)
                    <div class="form-group">
                        <p>
                            <input type="submit" value="Edit" class="btn btn-success btn-block" />
                        </p>
                    </div>
                </fieldset>
            }
            @Html.ActionLink("Back to Person", "FullInformation", "Home", new { id = Model.PersonId }, null)
        </div>
    </div>
</div>