@model HrApp.Models.LanguageLevel

@{
    ViewBag.Title = "Add language level";
}
<div class="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                @using (Html.BeginForm())
            {
                    @Html.ValidationSummary(true)
                    <fieldset>
                        <legend>Add language level</legend>
                        <div class="form-group">
                            @Html.LabelFor(model => model.LanguageLevelName)
                            @Html.TextBoxFor(model => model.LanguageLevelName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.LanguageLevelName)
                        </div>

                        <div class="form-group">
                            <p>
                                <input type="submit" value="Create" class="btn btn-success btn-block" />
                            </p>
                        </div>
                    </fieldset>
                }
                @Html.ActionLink("Back to manage language levels", "Index", "LevelLanguage")
            </div>
        </div>
    </div>
    </div>