@using System.Web.Mvc.Html
@using HrApp.Helpers.Extensions
@model HrApp.Models.Person

@{
    ViewBag.Title = "Create person";
}


<div class="content-wrapper">
    <section class="content-header">
        <ol class="breadcrumb">
            <li><a href="/Home"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Create person</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="box">
                    <div class="box-body">
                        <p class="text-center" style="font-size: 25px">
                            Create person
                        </p>
                        @using (Html.BeginForm())
                        {
                            <div class="form-group has-feedback  @Html.AddClassIfPropertyInError(x => x.FirstName, "has-error")">
                                @Html.LabelFor(x => x.FirstName, new { @class = "col-sm-3 control-label" })

                                <div class="col-sm-9">
                                    @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", @type = "text" })
                                    <span style="display: block" class="help-block">@Html.ValidationMessageFor(model => model.FirstName)</span>
                                </div>
                            </div>

                            <div class="form-group has-feedback  @Html.AddClassIfPropertyInError(x => x.LastName, "has-error")">
                                @Html.LabelFor(x => x.LastName, new { @class = "col-sm-3 control-label" })

                                <div class="col-sm-9">
                                    @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", @type = "text" })
                                    <span style="display: block" class="help-block">@Html.ValidationMessageFor(model => model.LastName)</span>
                                </div>
                            </div>

                            <div class="form-group has-feedback  @Html.AddClassIfPropertyInError(x => x.Birthday, "has-error")">
                                @Html.LabelFor(x => x.Birthday, new { @class = "col-sm-3 control-label" })

                                <div class="col-sm-9">
                                    @Html.TextBoxFor(model => model.Birthday, new { @class = "form-control", @type = "date" })
                                    <span style="display: block" class="help-block">@Html.ValidationMessageFor(model => model.Birthday)</span>
                                </div>
                            </div>

                            <div class="form-group has-feedback  @Html.AddClassIfPropertyInError(x => x.City, "has-error")">
                                @Html.LabelFor(x => x.City, new { @class = "col-sm-3 control-label" })

                                <div class="col-sm-9">
                                    @Html.TextBoxFor(model => model.City, new { @class = "form-control", @type = "text" })
                                    <span style="display: block" class="help-block">@Html.ValidationMessageFor(model => model.City)</span>
                                </div>
                            </div>

                            <div class="form-group has-feedback  @Html.AddClassIfPropertyInError(x => x.Email, "has-error")">
                                @Html.LabelFor(x => x.Email, new { @class = "col-sm-3 control-label" })

                                <div class="col-sm-9">
                                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @type = "email" })
                                    <span style="display: block" class="help-block">@Html.ValidationMessageFor(model => model.Email)</span>
                                </div>
                            </div>


                            <div class="form-group has-feedback  @Html.AddClassIfPropertyInError(x => x.Phone, "has-error")">
                                @Html.LabelFor(x => x.Phone, new { @class = "col-sm-3 control-label" })

                                <div class="col-sm-9">
                                    @Html.TextBoxFor(model => model.Phone, new { @class = "form-control", @pattern = "^[0-9]+$" })
                                    <span style="display: block" class="help-block">@Html.ValidationMessageFor(model => model.Phone)</span>
                                </div>
                            </div>

                            <div class="form-group has-feedback  @Html.AddClassIfPropertyInError(x => x.Salary, "has-error")">
                                @Html.LabelFor(x => x.Salary, new { @class = "col-sm-3 control-label" })

                                <div class="col-sm-9">
                                    @Html.TextBoxFor(model => model.Salary, new { @class = "form-control", @type = "number" })
                                    <span style="display: block" class="help-block">@Html.ValidationMessageFor(model => model.Salary)</span>
                                </div>
                            </div>

                            <div class="form-group has-feedback  @Html.AddClassIfPropertyInError(x => x.WorkExpireance, "has-error")">
                                @Html.LabelFor(x => x.WorkExpireance, new { @class = "col-sm-3 control-label" })

                                <div class="col-sm-9">
                                    @Html.TextBoxFor(model => model.WorkExpireance, new { @class = "form-control", @type = "number" })
                                    <span style="display: block" class="help-block">@Html.ValidationMessageFor(model => model.WorkExpireance)</span>
                                </div>
                            </div>


                            <div class="col-xs-4 col-xs-offset-4">
                                <button type="submit" class="btn btn-sm btn-primary btn-raised btn-block btn-flat">Create</button>
                            </div>
                        }
                    </div>
                    <div class="box-footer clearfix">
                        @Html.ActionLink("Back to List", "Index")
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>