@{
    ViewBag.Title = "Home Page";
}

@{
    List<int> test = new List<int>();
    test.Add(1);
    test.Add(2);
    test.Add(3);
    test.Add(4);

    var name = "Name";
    var surname = "Surname";
    List<string> jobsName = new List<string>();
    jobsName.Add("PHP");
    jobsName.Add(".Net");

    int salary = 15000;

    string city = "Ivano-Frankivsk";

    string phone = "+1236547896";

    string email = "mail@gmail.com";

    var experience = "10 years";
    var positionName = "php developer";

    var language = "language";
    var level = "level";

    var point = 50;
}

@foreach (var x in test)
{
    <div class="row">
        <div class="col-md-4">
            <ul class="list-inline">
                <li class="btn btn-default">@Html.ActionLink("Edit", "Index", "Home", new { id = test }, null)</li>
                <li class="btn btn-default">@Html.ActionLink("Open", "FullInformation", "Home", new { id = test }, null)</li>
                <li class="btn btn-default">@Html.ActionLink("Load resume", "Index", "Home", new { id = test }, null)</li>
                <li class="btn btn-default">@Html.ActionLink("Load test", "Index", "Home", new { id = test }, null)</li>
            </ul>
            <div class="row">
                <div class="col-md-6">
                    <p><b>@name @surname</b></p>
                    <p><b>@jobsName[0], @jobsName[1]</b></p>
                    <p>Date of birth <br />17.08.1983 (32 years)</p>
                    <p>City: @city</p>
                    <p>Phone: @phone</p>
                    <p>Email: @email</p>
                </div>
                <div class="col-md-6">
                    <p><b>from @salary </b></p>
                    <p>remote work</p>
                    <p><br /><b>Education</b></p>
                    <p>ROR developer</p>
                    <p>from 99.9999 to today(1 year 10 mounths)</p>
                    <p>University</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-6">
                    <p><b>Work experience (@experience)</b></p>
                    <p>@positionName</p>
                    <p>from 99.9999 to today(1 year 10 mounths)</p>
                    <p>company name</p>
                </div>
                <div class="col-md-6">
                    <p><b>Knowlerge of language</b></p>
                    <p>@language - @level</p>
                    <p><b>Professional skills</b></p>
                    @for (var i = 1; i < 10; i++)
                    {<p>skill @i</p>}
                </div>
            </div>
        </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-8">
                        <p><b>Interviews</b></p>
                        <div class="row">
                            <div class="col-md-6">
                                <p>date of interview</p>
                            </div>
                            <div class="col-md-6">
                                <p>Point: @point</p>
                            </div>
                        </div>

                        <p><b>Comments</b>
                        </p>
                        <p>some text</p>
                    </div>

                    <div class="col-md-4">
                        <p><b>Resume files</b></p>
                        <br /><br /><br /><br />
                        <p><b>Test files</b></p>
                    </div>
                </div>
            </div>
        
    </div>



            }

