@{
    ViewBag.Title = "Home Page";
}
@model IEnumerable<HrApp.Models.Person>

@foreach (var person in Model)
{
    <div class="row">
        <div class="col-md-4">
            <ul class="list-inline">
                <li class="btn btn-default">@Html.ActionLink("Edit", "Index", "Home", new {id = person.PersonId}, null)</li>
                <li class="btn btn-default">@Html.ActionLink("Open", "FullInformation", "Home", new {id = person.PersonId}, null)</li>
                <li class="btn btn-default">@Html.ActionLink("Load resume", "Index", "Home", new {id = person.PersonId}, null)</li>
                <li class="btn btn-default">@Html.ActionLink("Load test", "Index", "Home", new {id = person.PersonId}, null)</li>
            </ul>
            <div class="row">
                <div class="col-md-6">
                    <p><b>@person.FirstName @person.LastName</b>
                    </p>
                    @if (person.Jobs != null)
                    {
                        foreach (var job in person.Jobs)
                        {
                            <p><b>@job.JobName</b>
                            </p>
                        }
                    }
                    <p>Date of birth <br/>@person.Birthday (@{
                                                                var age = 0;
                                                                age = DateTime.Now.Year - @person.Birthday.Year;
                                                            } @age years)
                    </p>
                    <p>City: @person.City</p>
                    <p>Phone: @person.Phone</p>
                    <p>Email: @person.Email</p>
                </div>
                <div class="col-md-6">
                    <p><b>from @person.Salary </b>
                    </p>
                    @if (person.PersonTypeJobs != null)
                    {
                        foreach (var job in person.PersonTypeJobs)
                        {
                            <p><b>@job.TypeJobName</b>
                            </p>
                        }
                    }
                    <p><br/><b>Education</b>
                    </p>
                    @if (person.Educations != null)
                    {
                        foreach (var education in person.Educations)
                        {
                            <p>@education.SpecialityName</p>
                            <p>from @education.StartDate to @education.FinishDate @{
                                                                                      var during = 0;
                                                                                      during = DateTime.Now.Year - @person.Birthday.Year;
                                                                                  } (@during)</p>
                            <p>@education.EducationalInstitutionName</p>
                        }
                    }
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p>
                <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a>
            </p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p>
                <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a>
            </p>
        </div>
    </div>

}
