@{
    ViewBag.Title = "Home Page";
}
@model IEnumerable<HrApp.Models.Person>

<div class="panel-group">
@foreach (var person in Model)
{
    <div class="row panel panel-default" style="padding: 5px; margin-top: 10px; margin-right: 10px; margin-left: 10px">
    <div class="col-md-4">
        <div class="container">
            <button type="button" class="btn btn-basic btn-md" onclick="location.href='@Url.Action("Index", "Home", new {id = person.PersonId}, null)'">Edit</button>
            <button type="button" class="btn btn-basic btn-md" onclick="location.href='@Url.Action("FullInformation", "Home", new {id = person.PersonId}, null)'">Open</button>
            <button type="button" class="btn btn-basic btn-md" onclick="location.href='@Url.Action("Index", "Home", new {id = person.PersonId}, null)'">Load resume</button>
            <button type="button" class="btn btn-basic btn-md" onclick="location.href='@Url.Action("Index", "Home", new {id = person.PersonId}, null)'">Load test</button>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3>
                    <b>@person.FirstName @person.LastName</b>
                </h3>
                @if (person.Jobs != null)
                {
                    <ul>
                        @foreach (var job in person.Jobs)
                        {
                            <p>
                                <li><b>@job.JobName</b></li>
                            </p>
                        }
                    </ul>
                }
                <p>
                    <b>
                        Date of birth
                    </b><br/>@person.Birthday.ToString("dd MMMM yyyy") (@{
                                                                            var age = 0;
                                                                            age = DateTime.Now.Year - @person.Birthday.Year;
                                                                        } @age years)
                </p>
                <p><b>City:</b> @person.City</p>
                <p><b>Phone:</b> @person.Phone</p>
                <p><b>Email:</b> @person.Email</p>
            </div>
            <div class="col-md-6">
                <p class="text-right">
                    <b>from @person.Salary UAH/mon</b>
                </p>
                @if (person.PersonTypeJobs != null)
                {
                    foreach (var job in person.PersonTypeJobs)
                    {
                        <p>
                            <b>@job.TypeJobName</b>
                        </p>
                    }
                }
                <p>
                    <br/><b>Education</b>
                </p>
                @if (person.Educations != null)
                {
                    foreach (var education in person.Educations)
                    {


                        <p>@education.SpecialityName</p>
                        <p>
                            @{
                                var startDate = education.StartDate.Value.ToString("MM.yyyy");
                                var endDate = education.FinishDate.Value != null ? education.FinishDate.Value.ToString("MM.yyyy") : "today";
                                var totaldays = ((education.FinishDate.Value != null ? education.FinishDate.Value : DateTime.Now) - education.StartDate.Value).TotalDays;
                                int years = (int)Math.Truncate(totaldays / 365);
                                var month = (int)Math.Truncate((totaldays - (365*years))/30);
                                var during = (years > 0 ? years + " years" : "") + (month > 0 ? " " + month + " month" : "");
                            }from @startDate to @endDate (@during)
                        </p>
                        <p>@education.EducationalInstitutionName</p>
                        <hr/>
                    }
                }
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-6">
                <p>
                    <b>Work experience (@person.WorkExpireance years)</b>
                </p>
                <p></p>
                @if (person.WorkExperiences != null)
                {
                    foreach (var experience in person.WorkExperiences)
                    {
                        <p>@experience.PositionName</p>
                        <p>
                            @{
                                var startDate = experience.StartDate.Value.ToString("MM.yyyy");
                                var endDate = experience.FinishDate.Value != null ? experience.FinishDate.Value.ToString("MM.yyyy") : "Today";
                                var totaldays = ((experience.FinishDate.Value != null ? experience.FinishDate.Value : DateTime.Now) - experience.StartDate.Value).TotalDays;
                                int years = (int)Math.Truncate(totaldays / 365);
                                var month = (int)Math.Truncate((totaldays - (365 * years)) / 30);
                                var duringExp = (years > 0 ? years + " years" : "") + (month > 0 ? " " + month + " month" : "");
                            }from @startDate to @endDate (@duringExp)
                        </p>
                        <p>@experience.CompanyName</p>
                        <hr/>
                    }
                }
            </div>
            <div class="col-md-6">
                <p>
                    <b>Knowlerge of language</b>
                </p>
                @if (person.Languages != null)
                {
                    <ul>
                        @foreach (var language in person.Languages)
                        {
                            <li>
                                <p>
                                    @language.LanguageName - @language.LanguageLevelName
                                </p>
                            </li>
                        }
                    </ul>
                }
                <p>
                    <b>Professional skills</b>
                </p>
                @if (person.ProfessionalSkills != null)
                {
                    <ul>
                        @foreach (var skill in person.ProfessionalSkills)
                        {
                            <li>
                                <p>
                                    @skill.SkillName
                                </p>
                            </li>
                        }
                    </ul>
                }
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-7">
                <p>
                    <b>Interviews</b>
                </p>
                @if (person.Interviews != null)
                {
                    foreach (var interview in person.Interviews)
                    {
                        <div class="row">
                            <div class="col-md-6">
                                <p>@interview.InterviewDate.ToString("dd.MM.yyyy")</p>
                            </div>
                            <div class="col-md-6">
                                <p class="text-right"><b>Point:</b> @interview.Point</p>
                            </div>
                        </div>
                    }
                }

                <p>
                    <b>Comments</b>
                </p>
                @if (person.Interviews != null)
                {
                    foreach (var interview in person.Interviews)
                    {
                        <p>@interview.Comment</p>
                    }
                }

            </div>

            <div class="col-md-5">
                <p class="text-center">
                    <b>Resume files</b>
                </p>
                @if (person.Interviews != null)
                {
                    <div class="row">
                        @foreach (var interview in person.Interviews)
                        {
                            <div class="col-md-4">
                                <img src="/file.png" width="35" height="35" class="img-thumbnail">
                                <p ><small class="">@interview.FileResume</small></p>
                                <a href="/someHref">Load</a>
                            </div>
                        }
                    </div>
                }
                <p class="text-center">
                    <b>Test files</b>
                </p>
                @if (person.Interviews != null)
                {
                    <div class="row">
                        @foreach (var interview in person.Interviews)
                        {
                            <div class="col-md-4">
                                <img src="/file.png" width="35" height="35" class="img-thumbnail">
                                <p><small>@interview.FileTest</small></p>
                                <a href="/someHref">Load</a>
                            </div>
                        }
                    </div>
                }

            </div>
        </div>
    </div>

    </div>
}
</div>
<ul class="pagination">
    @for (int i = 0; i < (int)Math.Ceiling(ViewBag.CountPerson / ViewBag.Count * 1.0); i++)
    {
        if (ViewBag.Page == i + 1)
        {
            <li class="active"><a href="@Url.Action("Index", "Home", new { page = i + 1 })">@(i + 1)</a></li>
        }
        else
        {
            <li><a href="@Url.Action("Index", "Home", new { page = i  + 1})">@(i + 1)</a></li>
        }
    }
</ul>

