@using HrApp.Helpers.Extensions
@model HrApp.Models.TypeJobsName

@{
    ViewBag.Title = "Edit type job";
}

<div class="content-wrapper">
    <section class="content-header">
        <ol class="breadcrumb">
            <li><a href="/Home"><i class="fa fa-dashboard"></i> Home</a></li>
            <li>Settings</li>
            <li class="active">Edit type job </li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="box">
                    <div class="box-body">
                        @using (Html.BeginForm())
                        {
                            <div class="form-group has-feedback  @Html.AddClassIfPropertyInError(x => x.TypeJobName, "has-error")">
                                @Html.TextBoxFor(model => model.TypeJobName, new { @class = "form-control", @type = "text", @placeholder = @Html.DisplayNameFor(m => m.TypeJobName) })
                                <span style="display: block" class="help-block">@Html.ValidationMessageFor(model => model.TypeJobName)</span>
                            </div>
                            @Html.HiddenFor(model => model.TypeJobId)
                            <div class="col-xs-5">
                                <button type="submit" class="btn btn-primary btn-raised btn-block btn-flat">Edit</button>
                            </div>
                        }

                    </div>
                    @Html.ActionLink("Back to manage type jobs", "Index", "TypeJobName", null, new { @class = "text-center" })
                </div>
            </div>
        </div>
    </section>
</div>
