@model HrApp.Models.TypeJobsName

@{
    ViewBag.Title = "Edit type job";
}
<div class="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                @using (Html.BeginForm("Edit", "TypeJobName", FormMethod.Post))
            {
                    @Html.ValidationSummary(true)
                    <fieldset>
                        <legend>Edit type job</legend>
                        <div class="form-group">
                            @Html.LabelFor(model => model.TypeJobName)
                            @Html.TextBoxFor(model => model.TypeJobName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.TypeJobName)
                        </div>
                        @Html.HiddenFor(model => model.TypeJobId)
                        <div class="form-group">
                            <p>
                                <input type="submit" value="Edit" class="btn btn-success btn-block" />
                            </p>
                        </div>
                    </fieldset>
                }
                @Html.ActionLink("Back to manage type jobs", "Index", "TypeJobName")
            </div>
        </div>
    </div>
    </div>