@using System.Web.Mvc.Html
@using HrApp.Helpers.Extensions
@model HrApp.Models.Education

@{
    ViewBag.Title = "Edit person education";
}
<div class="content-wrapper">
    <section class="content-header">
        <ol class="breadcrumb">
            <li><a href="/Home"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Edit person data</li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="box">
                    <div class="box-body">
                        <p class="text-center" style="font-size: 25px">
                            Edit education
                        </p>
                        @using (Html.BeginForm())
                        {
                            <div class="form-group has-feedback  @Html.AddClassIfPropertyInError(x => x.EducationalInstitutionName, "has-error")">
                                @Html.LabelFor(x => x.EducationalInstitutionName, new { @class = "col-sm-3 control-label" })

                                <div class="col-sm-9">
                                    @Html.TextBoxFor(model => model.EducationalInstitutionName, new { @class = "form-control", @type = "text" })
                                    <span style="display: block" class="help-block">@Html.ValidationMessageFor(model => model.EducationalInstitutionName)</span>
                                </div>
                            </div>

                            <div class="form-group has-feedback  @Html.AddClassIfPropertyInError(x => x.SpecialityName, "has-error")">
                                @Html.LabelFor(x => x.SpecialityName, new { @class = "col-sm-3 control-label" })

                                <div class="col-sm-9">
                                    @Html.TextBoxFor(model => model.SpecialityName, new { @class = "form-control", @type = "text" })
                                    <span style="display: block" class="help-block">@Html.ValidationMessageFor(model => model.SpecialityName)</span>
                                </div>
                            </div>

                            <div class="form-group has-feedback  @Html.AddClassIfPropertyInError(x => x.StartDate, "has-error")">
                                @Html.LabelFor(x => x.StartDate, new { @class = "col-sm-3 control-label" })
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(model => model.StartDate, new { @class = "form-control", @type = "date" })
                                    <span style="display: block" class="help-block">@Html.ValidationMessageFor(model => model.StartDate)</span>

                                </div>
                            </div>

                            <div class="form-group has-feedback  @Html.AddClassIfPropertyInError(x => x.FinishDate, "has-error")">
                                @Html.LabelFor(x => x.FinishDate, new { @class = "col-sm-3 control-label" })
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(model => model.FinishDate, new { @class = "form-control", @type = "date" })
                                    <span style="display: block" class="help-block">@Html.ValidationMessageFor(model => model.FinishDate)</span>
                                </div>
                            </div>

                            @Html.HiddenFor(model => model.PersonId)
                            @Html.HiddenFor(model => model.EducationId)
                            <div class="col-xs-4 col-xs-offset-4">
                                <button type="submit" class="btn btn-sm btn-primary btn-raised btn-block btn-flat">Edit</button>
                            </div>
                        }
                    </div>
                    <div class="box-footer clearfix">
                        @Html.ActionLink("Back to Person", "FullInformation", "Home", new { id = Model.PersonId }, null)
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
