@using System.Web.Mvc.Html
@using HrApp.Helpers.Extensions
@model HrApp.Models.ProfessionalSkill

@{
    ViewBag.Title = "Add person professional skill";
}

<div class="content-wrapper">
    <section class="content-header">
        <ol class="breadcrumb">
            <li><a href="/Home"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Edit person data</li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="box">
                    <div class="box-body">
                        @using (Html.BeginForm())
                        {
                            <div class="form-group has-feedback  @Html.AddClassIfPropertyInError(x => x.SkillName, "has-error")">
                                @Html.TextBoxFor(model => model.SkillName, new { @class = "form-control", @type = "text", @placeholder = @Html.DisplayNameFor(m => m.SkillName) })
                                <span style="display: block" class="help-block">@Html.ValidationMessageFor(model => model.SkillName)</span>
                            </div>
                            

                            @Html.HiddenFor(model => model.PersonId)
                            <div class="col-xs-5">
                                <button type="submit" class="btn btn-primary btn-raised btn-block btn-flat">Create</button>
                            </div>
                        }
                    </div>
                    <div class="box-footer clearfix">
                        @Html.ActionLink("Back to Person", "FullInformation", "Home", new { id = Model.PersonId }, null)
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


