@model HrApp.Models.ProfessionalSkill

@{
    ViewBag.Title = "Edit person professional skill";
}
<div class="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                @using (Html.BeginForm())
            {
                    @Html.ValidationSummary(true)
                    <fieldset>
                        <legend>Edit person professional skill</legend>
                        <div class="form-group">
                            @Html.LabelFor(model => model.SkillName)
                            @Html.TextBoxFor(model => model.SkillName, new { @class = "form-control", @required = "required" })
                            @Html.ValidationMessageFor(model => model.SkillName)
                        </div>

                        @Html.HiddenFor(model => model.PersonId)
                        @Html.HiddenFor(model => model.ProfessionalSkillId)
                        <div class="form-group">
                            <p>
                                <input type="submit" value="Edit" class="btn btn-success btn-block" />
                            </p>
                        </div>
                    </fieldset>
                }
                @Html.ActionLink("Back to Person", "FullInformation", "Home", new { id = Model.PersonId }, null)
            </div>
        </div>
    </div>
    </div>